
:root{
  --background-green: #1c1f1c;
  --deep-green: #214521;
  --deep-purple: #452136;
}
html {
  background-color: var(--background-green);
}
p {
  text-align: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 200);
}

h1 {
  text-align:center;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.img-bordered {
  margin: 10px;
  border: 7px solid var(--deep-green);
}

.flex-container{
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}

.flex-item{
  border: 7px solid var(--deep-green);
  border-radius: 12px;
  margin: 2%;
}

.column{
  width: 50%;
  margin: 5%;
  border: 10px solid var(--deep-green);
  border-radius: 12px;
}

#doll-section{
  border-color: var(--deep-purple);
}

#code-section{
}
