
:root{
  --background-green: #1c1f1c;
  --deep-green: #214521;
  --deep-purple: #452136;
  --dull-green: #354635;
  --dull-purple: #46353f;
}
html {
  background-color: var(--background-green);
}
p {
  text-align: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 200);
  font-size: 3vw;
}

h1 {
  text-align:center;
  font-size: 10vw;
  color: white;
}

h2 {
  text-align:center;
  font-size: 8vw;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.img-bordered {
  display: block;
  margin: auto;
  border: 7px solid var(--deep-green);
   border-radius: 12px;
  max-width: 90%;
}

.img-hires {
  max-width: 500px;
}

.flex-container{
  display: flex;
  justify-content: center;
}

.flex-item{
  border: 7px solid var(--deep-green);
  border-radius: 12px;
  background-color: var(--dull-green);
  margin: 2%;
  flex: 50%;
}

.doll-style{
  border: 7px solid var(--deep-green);
  border-radius: 12px;
  margin: 2%;
  border-color: var(--deep-purple);
  background-color: var(--dull-purple);
}

#doll-section{
  border-color: var(--deep-purple);
  background-color: var(--dull-purple);
}

#code-section{
}
