
:root{
  --background-green: #1c1f1c;
  --deep-green: #214521;
}
html {
  background-color: var(--background-green);
}
p {
  text-align: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 200);
}

h1 {
  text-align:center;
  color: white;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center
}

.flex-item{
  border: 5px solid var(--deep-green);
  border-radius: 12px;
}
